{% extends "gestion/new_layout.html" %}

{% block body %}
<h2><center>Registrar Pago</center></h2>
    <form method="POST">
    {% csrf_token %}
    <div class='form-group multiple'>
        <label for="alumno">Seleccionar Alumno</label>
        <select name="alumno" required>
        {% for alumno in alumnos %}
            <option value="{{alumno.id}}">{{alumno.id}} -- {{alumno.nombre}} {{alumno.apellido}}</option> 
        {% endfor %}
        </select>
    </div>
    <div class='form-goup'>
        <label for="fecha">Fecha: </label>
        <input type="date" name="fecha" required></input>
    </div>
    <div class='form-goup'>
        <label for="monto">Monto: </label>
        <input type="number" name="monto" ></input>
    </div>
    <div class='form-group multiple'>
        <label for="curso">Seleccionar Curso</label>
        <select name="curso" required>
        {% for curso in cursos %}
            <option value="{{curso.id}}">{{curso.id}} -- {{curso.fecha_inicio}} -- {{curso.fecha_finalizacion}}</option> 
        {% endfor %}
        </select>
    </div>    
    <center><button type="reset" class="btn btn-danger btn-lg">Borrar</button>
    <button type="submit" class="btn btn-success btn-lg">Registrar Pago</button></center>
    </form> 
{% endblock %}