{% extends "gestion/new_layout.html" %}
{% block body %}

<title>Turnos</title>
<br>
{% if data != None %}
    <h2>Cantidad de alumnos registrados: {{cantidad_alumnos}}</h2>
    <br>
    <h2>Cursos Dictados: {{cantidad_cursos}}</h2>
    <hr>
    <h2>último curso:</h2>
    <br>
    <h2>Fecha de Inicio: {{ultimo_curso.fecha_inicio}}</h2>
    <br>
    <h2>Fecha de finalización: {{ultimo_curso.fecha_finalizacion}}</h2>
    <br>
    <h2>Alumnos inscriptos en el curso: {{alumnos_ultimo_curso}}</h2>
    <br>
{% else %}    
    <h2><center>No hay información sobre alumnos o cursos dictados.</center></h2>
    <br>
{% endif %}
{% endblock %}